{% load i18n %}
<div style="border: 1px;">
<center>
    {% if description %}
    <b>{{ description }}</b><br/>
    {% endif %}
    {{ address }}<br/>
    <img src="{{ address_qrcode }}"/>
    {% comment %}
    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{ address }}{% if amount %}?amount={{ amount }}{% endif %}"/>
    {% endcomment %}
    <br/>
    {% if amount %}{{ amount }} BTC {% if display_currency %}(~{{ currency_amount }} {{ display_currency }}){% endif %}{% endif %}
    </center>
</div>

