{% load i18n %}
{% load currency_conversions %}
{% if wallet.has_history %}
<table>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "To/From" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Description" %}</th>
    </tr>

    {% for addr in wallet.addresses.all %}
        {% if addr.received %}
            <tr>
                <td>{{ addr.created_at }}</td>
                <td>{% trans "Credit" %}</td>
                <td>{{ addr.address|show_addr:'short'|safe}}</td>
                <td>+{{ addr.received }}</td>
                <td>{{ t.description }}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% for t in wallet.received_transactions.all %}
        <tr>
            <td>{{ t.created_at }}</td>
            <td>{% trans "Credit" %}</td>
            <td>{{ t.from_wallet.label }}</td>
            <td>+{{ t.amount }}</td>
            <td>{{ t.description }}</td>
        </tr>
    {% endfor %}

    {% for t in wallet.sent_transactions.all %}
        <tr>
            <td>{{ t.created_at }}</td>
            <td>{% trans "Debit" %}</td>
            {% if t.to_wallet %}
                <td>{{ t.to_wallet.label }}</td>
                <td>-{{ t.amount }}</td>
                <td>{{ t.description }}</td>
            {% else %}
                {% if t.to_bitcoinaddress %}
                    <td>{{ t.to_bitcoinaddress|show_addr:'short'|safe}}</td>
                    <td>-{{ t.amount }}</td>
                    <td>{{ t.description }}</td>
                {% else %}
                    <td>{% trans "The bitcoin network" %}</td>
                    <td>-{{ t.amount }}</td>
                    <td>{% trans "Fee paid directly to the bitcoin network" %}</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endif %}
