{% load i18n %}

<table>
    <tr>
        <th>{% trans "date" %}</th>
        <th>{% trans "type" %}</th>
        <th>{% trans "amount" %}</th>
        <th>{% trans "description" %}</th>
    </tr>
    {% for addr in wallet.addresses.all %}
    {% if addr.received %}
    <tr>
        <td>{{ addr.created_at }}</td>
        <td>{% trans "Bitcoin deposit" %}</td>
        <td>+{{ addr.received }}</td>
        <td></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% for t in wallet.received_transactions.all %}
    <tr>
        <td>{{ t.created_at }}</td>
        <td>{% trans "Wallet receive" %}</td>
        <td>+{{ t.amount }}</td>
        <td>{{ t.description }}</td>
    </tr>
    {% endfor %}
    {% for t in wallet.sent_transactions.all %}
    <tr>
        <td>{{ t.created_at }}</td>
        <td>{% if t.to_wallet %}
            {% trans "Wallet payment" %}
            {% else %}
            {% if t.to_address %}
                {% trans "Bitcoin withdrawal" %}
            {% else %}
                {% trans "Fee" %} 
            {% endif %}
            
        {% endif %}</td>
    <td>-{{ t.amount }}</td>
    <td>{{ t.description }}</td>
    </tr>
    {% endfor %}
</table>
